/* primary color: #001e60 */
.full-h{
    min-height: 100vh;
}
.box{
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid rgb(97, 104, 112);
    /* background-color: slategray; */
    /* margin: 5px; */
}

.custom-primary{
    background-color: #001e60;
    color:white;
}

.labelBox{
    height: 1.5rem;
    width: 1.5rem;
    /* border: 1px solid slategray; */
    color: slategray;
    text-align: center;
}
.economy{
    background-image: url("../img/icons8-sleeper-chair-96-light.png");
    background-size: cover;
    /* color: blue; */
    background-color: rgb(252, 95, 95);
}
.premium{
    background-image: url("../img/icons8-sleeper-chair-96-light.png");
    background-size: cover;
    background-color: rgb(241, 252, 95);
}
.business{
    background-image: url("../img/icons8-sleeper-chair-96-light.png");
    background-size: cover;
    background-color: rgb(78, 149, 255);
}
.empty{
    background-image: none;
}

.shadow-sm{
    box-shadow: 0px 3px 10px 3px lightgray;
}

/* ========= SEARCH ============ */
.dateResult{
    /* border: 2px  solid; */
    cursor: pointer;
}
.dateResult:hover{
    outline: blue 5px solid;
}

.dateResult:hover>.card-header{
    background-color: gray;
}

.selectedDate{
    background-color: #001e60;
    color: white;
}

.selectedDate .col-4::before{
    content:  url("../img/baseline_check_circle_outline_white_24dp.png");
    /* url("/img/icons8-sleeper-chair-96-dark.png"); */
}

/* ========= SELECT ============ */
.date-row>ul>li{
    
    border-bottom: solid black 1px;
}
.date-row>ul>:nth-child(4){
    /* box-sizing: content-box; */
    border-top: 2px black solid;
    border-right: 2px black solid;
    border-left: 2px black solid;
    border-bottom: solid white 1px;
    /* background-color: brown ; */
    /* border-bottom: 2px white solid; */
    /* outline: 2px black solid; */
}
.flightDetail:hover{
    background-color: lightblue;
}
.selectedFlightDetail{
    border-left: red 5px solid;
}

.date-row>ul{
    border-bottom: solid black 1px;
}

.fareBox{
    box-shadow: 5px 5px 2px gray;
    background-color: lightgray;
}
.disabledFareBox{
    /* box-shadow: 5px 2px 2px gray; */
    background-color: lightgray;
}
.selectedFareBox{
    box-shadow: 5px 5px 2px gray;
    background-color: #001e60;
    color: white;
}
.selectedFareBox::after{
    content:  url("../img/baseline_check_circle_outline_white_24dp.png");
}

/* ========= SEAT SELECTION ============ */


.box2{
    height: 2rem;
    width: 2rem;
    margin: 2px;
    /* border: 1px solid rgb(97, 104, 112); */
    /* background-color: slategray; */
    /* margin: 5px; */
}

.labelBox2{
    height: 2rem;
    width: 2rem;
    margin: 2px;
    /* border: 1px solid slategray; */
    color: slategray;
    text-align: center;
}

.seat{
    background-image: url("../img/icons8-sleeper-chair-96-light.png");
    background-size: cover;
    background-color: lightgray;
    
}
.taken{
    background-image: url("../img/cross-black.png");
    background-size: cover;
    background-color: lightgray;
}
.selectedSeat{
    background-color: #1b62fd;
}

.flightTab{
    cursor: pointer;
}

/* ==================mybookings==================== */
.hover-lightblue:hover{
    background-color: lightblue;
}


/* ==================home==================== */
.section-landing{
    background-image: url("../img/bg-main.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.navi{
    /* background-color: #001e60; */
    /* background-color: transparent; */
    /* position:sticky; */
    /* top:0px; */
    z-index:1020;
    padding-left:5vw;
    padding-right:5vw;
    transition: background-color 300ms ease-out;
}
.frosted{
    /* position: absolute;  */
    /* top: 30px; bottom: 30px; right: 30px; left: 30px; */
    /* margin: auto; */
    /* color:#001e60; */
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 5px 5px 2px rgba(61, 61, 61, 0.3);
    font-weight: 600;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    
    /* font-size: 1.2rem; */
    /* padding: 20px; */
    /* text-align: center; */
  }
  .frosted a {
      color: white;
  }
  
  @supports (backdrop-filter: none) {
    .frosted {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(8px);
    }
  }

  .userLoginBg{
    background-image: url("../img/traveller-login-bg.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .empLoginBg{
    background-image: url("../img/emp-login-bg-4.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .doneBg{
    background-image: url("../img/emp-login-bg-3.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }


  /* ========================progress line======================= */
  .custom-ol {
    list-style-type: decimal;
    padding: 0;
    font-size: 1em;
    line-height: 1.5;
    margin: 0.5em 0;
    background-color: transparent;
    width: 100%;
    }
    
    /* Progress indicator */
    .progress li {
        list-style: none;
        line-height: 2; /* 32px */
        background-color: #f1f1f1;
        /* margin: 0 1.25em 0.5em 0; 0 20px 8px 0 */
        margin: 0 30px 12px 0 ;
        padding: 0.25em 0.25em 0.25em 0.5em; /* 4px 4px 4px 8px */
        position: relative;
        display: inline-block;
        width: 50%;
        text-align: center;
        }
        .progress li:before {
            content: "";
            font-size: 1em; /* 16px */
            font-weight: 700;
            border: solid;
            border-color: #f1f1f1 transparent;
            border-width: 1.25em 0 1.25em 1.25em; /* 20px 0 20px 20px */
            display: block;
            position: absolute;
            top: 0;
            left: -1.25em; /* -20px */
        }
        .progress li:first-child {
            padding-left: 0.75em;
        }
        .progress li:first-child:before {
            display: none;
        }
        .progress li:after {
            content: "";
            font-size: 1em; /* 16px */
            border: solid;
            border-color: transparent #f1f1f1;
            border-width: 1.25em 0 1.25em 1.25em; /* 20px 0 20px 20px */
            display: block;
            position: absolute;
            right: -1.25em; /* -20px */
            top: 0;
        }
    .progress li.completed {
        background-color: #c9c9c9;
        color:#001e60;
        font-weight: 600;
        }
        .progress li.completed:hover {
            background-color: #c9c9c9;
        }
        .progress li.completed:before {
            border-color: #c9c9c9 transparent;
        }
        .progress li.completed:hover:before {
            border-color: #c9c9c9 transparent;
        }
        .progress li.completed:after {
            border-color: transparent #c9c9c9;
        }
        .progress li.completed:hover:after {
            border-color: transparent #c9c9c9;
        }
    .progress li.is-active {
        color: #fff;
        font-weight: 700;
        background-color: #001e60;
        }
        .progress li.is-active:before {
            border-color: #001e60 transparent;
        }
        .progress li.is-active:after {
            border-color: transparent #001e60;
        }
    .progress li a {
        border: 0;
        display: block;
    color: #001e60;
    text-decoration: none;
    border-bottom: 1px solid rgba(34, 85, 221, 0.1);
    }
    
    
    
    
    
    
    
    
    
    
    
    
    /* .circular {
    border-radius: 100%;
    }
    .framed {
    box-shadow: 0 2px 2px #E9E9E9;
    border: 1px solid #CCC;
    padding: 0.25em;
    display: inline-block;
    }
    .framed.circular img {
    border-radius: 100%;
    } */
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* ul {
    list-style-type: square;
    padding: 0;
    }
    .stats {
    overflow: hidden;
    }
    .stats li {
    list-style: none;
    margin: 0 0.75em 0 0;
    padding: 0 0.75em 0 0;
    border-right: 1px solid #E9E9E9;
    float: left;
    }
    .stats a {
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1.3334;
    border: 0 none;
    display: block;
    float: left;
    }
    .stats span {
    font-weight: 400;
    font-size: 0.6667em;
    line-height: 1.3334;
    display: block;
    }
    
    .stats a:link, .stats a:visited, .stats a:hover {
    transition: all 0.2s ease;
    }
    
    .stats a {
    color: #25D;
    text-decoration: none;
    border-bottom: 1px solid rgba(34, 85, 221, 0.1);
    }
     */
    
    
    
    
    
    
    
    
    
    
    
    
    
    