/* primary color: #001e60 */
.full-h{
    min-height: 100vh;
}
.box{
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid rgb(97, 104, 112);
    /* background-color: slategray; */
    /* margin: 5px; */
}

.custom-primary{
    background-color: #001e60;
    color:white;
}

.labelBox{
    height: 1.5rem;
    width: 1.5rem;
    /* border: 1px solid slategray; */
    color: slategray;
    text-align: center;
}
.economy{
    background-image: url("../img/icons8-sleeper-chair-96-light.png");
    background-size: cover;
    /* color: blue; */
    background-color: rgb(252, 95, 95);
}
.premium{
    background-image: url("../img/icons8-sleeper-chair-96-light.png");
    background-size: cover;
    background-color: rgb(241, 252, 95);
}
.business{
    background-image: url("../img/icons8-sleeper-chair-96-light.png");
    background-size: cover;
    background-color: rgb(78, 149, 255);
}
.empty{
    background-image: none;
}

.shadow-sm{
    box-shadow: 0px 3px 10px 3px lightgray;
}

/* ========= SEARCH ============ */
.dateResult{
    /* border: 2px  solid; */
    cursor: pointer;
}
.dateResult:hover{
    outline: blue 5px solid;
}

.dateResult:hover>.card-header{
    background-color: gray;
}

.selectedDate{
    background-color: #001e60;
    color: white;
}

.selectedDate .col-4::before{
    content:  url("../img/baseline_check_circle_outline_white_24dp.png");
    /* url("/img/icons8-sleeper-chair-96-dark.png"); */
}

/* ========= SELECT ============ */
.date-row>ul>li{
    
    border-bottom: solid black 1px;
}
.date-row>ul>:nth-child(4){
    /* box-sizing: content-box; */
    border-top: 2px black solid;
    border-right: 2px black solid;
    border-left: 2px black solid;
    border-bottom: solid white 1px;
    /* background-color: brown ; */
    /* border-bottom: 2px white solid; */
    /* outline: 2px black solid; */
}
.flightDetail:hover{
    background-color: lightblue;
}
.selectedFlightDetail{
    border-left: red 5px solid;
}

.date-row>ul{
    border-bottom: solid black 1px;
}

.fareBox{
    box-shadow: 5px 5px 2px gray;
    background-color: lightgray;
}
.disabledFareBox{
    /* box-shadow: 5px 2px 2px gray; */
    background-color: lightgray;
}
.selectedFareBox{
    box-shadow: 5px 5px 2px gray;
    background-color: #001e60;
    color: white;
}
.selectedFareBox::after{
    content:  url("../img/baseline_check_circle_outline_white_24dp.png");
}

/* ========= SEAT SELECTION ============ */


.box2{
    height: 2rem;
    width: 2rem;
    margin: 2px;
    /* border: 1px solid rgb(97, 104, 112); */
    /* background-color: slategray; */
    /* margin: 5px; */
}

.labelBox2{
    height: 2rem;
    width: 2rem;
    margin: 2px;
    /* border: 1px solid slategray; */
    color: slategray;
    text-align: center;
}

.seat{
    background-image: url("../img/icons8-sleeper-chair-96-light.png");
    background-size: cover;
    background-color: lightgray;
    
}
.taken{
    background-image: url("../img/cross-black.png");
    background-size: cover;
    background-color: lightgray;
}
.selectedSeat{
    background-color: #1b62fd;
}

.flightTab{
    cursor: pointer;
}

/* ==================mybookings==================== */
.hover-lightblue:hover{
    background-color: lightblue;
}